
body {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  .embed-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin : 0 auto;

  }
  
  .tableauPlaceholder {
    height: 500px;
   
  }